#home-under-hero {
  position: relative;
  z-index: 10;
  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $dark;
    z-index: -1;
  }
}