#home-hero {
  max-height: 90vh;
  #hero-bg {
    --x: 0px;
    --y: 0px;
    top: var(--y);
    left: var(--x);
    position: relative;
  }
  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba($black, .65);
  }
  .btn {
    font-size: 1.2rem;
  }
  .card-img-overlay {
    z-index: 100;
  }
}